$tie-toggler-width: 90px/2;
$tie-toggler-height: 230px/2;

.tie-toggler {
  transition: all $timeMed;
  position: fixed;
  width: $tie-toggler-width;
  height: $tie-toggler-height;
  top: 120px;
  left: 0px;
  z-index: 20;
  cursor: pointer;
  background-image: url('./Includes/tie-toggler/tie-toggler/tie-toggler.png');
  background-size: 100% 100%;
  overflow: hidden;
  @media (min-width: $screen-md) {
    width: $tie-toggler-width*2;
    height: $tie-toggler-height*2;
  }
  @media (min-width: $screen-xl) {
    display: none;
  }
}
.tie-toggler--hidden {
  left: -$tie-toggler-width;
  @media (min-width: $screen-md) {
    left: -$tie-toggler-width*2;
  }
}
