.jumbo-list {

  &.jumbo-list_equipment {
    .jumbo-list__content {
      .jumbo-list__header {
        &:before {
          background-image: url('img/bg/MainPageLists/eq.svg');
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
        }
      }
    }
  }
  &.jumbo-list_equipment-lab {
    .jumbo-list__content {
      .jumbo-list__header {
        &:before {
          background-image: url('img/bg/MainPageLists/eq-lab.svg');
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
        }
      }
    }
  }
  &.jumbo-list_periphery {
    .jumbo-list__content {
      .jumbo-list__header {
        &:before {
          background-image: url('img/bg/MainPageLists/peryphery.svg');
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
        }
      }
    }
  }
  &.jumbo-list_spares {
    .jumbo-list__content {
      .jumbo-list__header {
        &:before {
          background-image: url('img/bg/MainPageLists/spares.svg');
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
        }
      }
    }
  }
  &.jumbo-list_rtl {
    &:before {
      background: linear-gradient(-90deg, rgba($clrMain1, 1) , rgba($clrMain1, 0.2)),
                  //url('img/bg/retina_wood.png')
                  url('img/bg/pattern.png')
                ;
    }
    
    .jumbo-list__content {
      .jumbo-list__header {
        &:before {
          left: 0;
          right: initial;
        }
        span {
          right: 0;
          text-align: right;
        }
      }
    }
  }
  
  @media (min-width: $screen-sm) {
    &:before {
      content: '';
      display: block;
      position: absolute;
      height: 370px;
      width: 100%;
      z-index: -1;
      background: linear-gradient(90deg, rgba($clrMain1, 1) , rgba($clrMain1, 0.2)),
                  //url('img/bg/retina_wood.png')
                  url('img/bg/pattern.png')
                ;
    }
  }
  @media (min-width: $screen-lg) {
    
  }
  
  .jumbo-list__content {
    overflow: auto;
    position: relative;

    
    
    .jumbo-list__header {
      color: $clrGrayBG;
      font-size: $font-size-h1;
      text-transform: uppercase;
      font-weight:bold;
      margin-top: 30px;
      
      @media (min-width: $screen-sm) {
        color: white;
        //outline: 1px solid green;
        height: 150px;
        margin-top: 0;
        display: block;
        position: relative;
        &:before {
          content: '';
          display: block;
          position: absolute;
          height: 220px;
          width: 220px;
          z-index: -1;
          //outline: 1px solid darkred;
          top: $gap*2;
          right: 0;
          background-position: center;
          background-size: contain;
        }

        span {
          top: 50%;
          position: absolute;
          transform: translatey(-50%);
          //outline: 1px solid blue;
          max-width: 75%;
        }
      }
      @media (min-width: $screen-md) {
        
        font-size: 50px;
        height: 220px;
        &:before {
          height: 300px;
          width: 300px;
        }
        
      }
      @media (min-width: $screen-lg) {
        
      }
    }
  }

  .jumbo-list__view-all {
    float: right;
    width: 100%;
    @media (min-width: $screen-md) {
      width:auto;
    }
    &:after {
      content: "";
      display: block;
      clear: both;
    }
    
  }
}