.btn-clear-filter {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: white;
  border-bottom: none;
  &:hover {
    border-bottom: none;
  }
  .btn-clear-filter--text {
    margin-right: $gap*2;
  }
  .btn-clear-filter--icon {
    display: inline-block;
    border: 2px solid $clrAcc;
    overflow: hidden;
    width: $gap*4;
    height: $gap*4;
    background-image: url('./Includes/btn-clear-filter/img/trash-white.png');
    background-repeat:no-repeat;
    background-position: center;
    background-color: transparent;
    transition: all $timeShort;
  }

  &:hover {
    .btn-clear-filter--icon {
      background-color: $clrAcc;
    }
  }
}
