<div class="card-manager" data-spec-id="{{ spec_id }}">
    <a href="#" class="img-wrapper">
        <img src="/img/placeholder1.jpg" alt="">
    </a>
    <a href="#" class="about-1">
        <p class="lastname">Иванов</p>
        <p class="firstname">Иван Иванович</p>
        <p class="post-title">Должность:</p>
        <p class="post-val">Менеджер отдела продаж</p>
        <p class="spec-title">Специализация:</p>
        <p class="spec-val">{{ spec_title }}</p>
    </a>
    <div style="clear: both"></div>
    <div class="about-2">
        
        <a href="tel:+79601030811" class="phone"><span>+7 (905) 123-45-67</span></a>

        <br>
        <a href="mailto:address@domain.ru" class="mail"><span>address@domain.ru</span></a>

        <br>
        <a href="http://address.domain.ru" class="page"><span>address.domain.ru</span></a>
    </div>
</div>