<style>

</style>


<div class="card-base">
    <div class="card-base__content">
        <a href="#" class="card-base__link-base">
            <img src="/img/placeholder1.jpg" alt="">
            <p><span>{{ text }}</span></p>
        </a>
    </div>
</div>