.btn.btn_main {
  border: 2px solid $clrAcc;
  //в jubilant-engine добавленны классы  .btn--bold .btn--uppercase
  color: white;
  background-color: transparent;

  transition: all $timeShort;

  &:hover, &.hover {
    background-color: $clrAcc;
  }
}
.btn.btn_secondary {
  border: 2px solid $clrMain1;
  //text-transform: uppercase;
  //font-weight: bold;
  color: white;
  background-color: transparent;

  transition: all $timeShort;

  &:hover, &.hover {
    background-color: $clrMain1;
  }
}

.btn.btn_secondary-moody {
  border: 2px solid $clrMain3;
  //text-transform: uppercase;
  //font-weight: bold;
  color: white;
  background-color: white;

  transition: all $timeShort;

  &:hover, &.hover {
    background-color: $clrMain3;
  }
}

.btn.btn_text-black:not(:hover):not(.hover) {
  color: $clrBlack;
}
.btn.btn_text-bold {
  font-weight:bold;
}
.btn.btn_small {
  padding-top:6px;
  padding-bottom:6px;
  //слева и справа еще неизвестно какие будут паддинги: маленькие кнопки пока-что были только широкими
}

input,
textarea {
  outline: none;

}

input[type="text"],
input[type="search"] {
  padding: $gap;
  border: none;
  border-bottom: 2px solid $clrGrayLight;
}
input[type="search"] {
  background-image: url('./img/icons/magnifier.png');
  background-repeat: no-repeat;
  background-position: 100% 50%;
  padding-right:$gap*2;
}
.form--dark {
  label,
  input,
  textarea {
    color: white;
  }
  input,
  textarea {
    //border: 1px solid transparent;
    border: 1px solid $clrGrayBG;
    background-color: $clrGrayBG;
    padding: $gap;
    transition: all $timeShort;
  }
}


//choices.js
//todo: переписать в гистбокс
$choices-guttering: 0px;                //margin-bottom
$choices-border-radius: 0px;
$choices-border-radius-item: 0px;
$choices-bg-color: white;
$choices-text-color: $clrGrayBG;        //arrow
$choices-keyline-color: $clrGrayLight;  //border
$choices-press-to-select-text: '';      //hint

//@import '~choices.js/assets/styles/scss/base';
@import '../libs/choices'; //пока мой коммит не попал в версию, нужно использовать этот костыль
//вместо добавления классов он заменяет классы. Соответственно нужно оверрайдить.

.choices {
  > .choices__inner {
    padding: 0 !important;
    min-height: auto;
    border: 1px solid transparent;
    border-bottom: 2px solid $clrGrayLight;
    transition: all $timeShort;
    > .choices__list.choices__list--single {
      padding: $gap 16px $gap $gap;
      .choices__item {
        line-height: 1;
        font-size: 16px;
      }
    }


  }
  > .choices__list {
    border: 1px solid $clrGrayLight;
    border-top: none;
    > .choices__list {
      > .choices__item {
        padding: $gap;
        line-height: 1;
      }
    }
  }
  &:after { //arrow
    //border-color: red transparent transparent transparent !important;
  }
  &.is-open {
    > .choices__inner {
      color: $clrMain1;
      border: 1px solid $clrGrayLight;
      border-bottom:2px solid transparent;

    }
    > .choices__list {

    }
    &:after { //arrow
      border-color: transparent transparent $clrMain1 transparent !important;
    }
  }
}

.choices--blue {
  > .choices__inner {
    height: 40px;
    background-color: $clrMain3;
    border-bottom: 2px solid #dadada;
    > .choices__list.choices__list--single {
      //padding: $gap 16px $gap $gap;
      .choices__item {
        //line-height: 1;
      }
    }


  }
  > .choices__list {
    //border: 1px solid $clrGrayLight;
    //border-top: none;
    > .choices__list {
      > .choices__item {
        //padding: $gap;
        //line-height: 1;
      }
    }
  }
  &:after { //arrow
    margin-top: -6.5px !important;
    border-width: 8px !important;
    border-color: $clrAcc transparent transparent transparent !important;
  }
  &.is-open {
    > .choices__inner {
      color: $clrAcc;
      background-color: white;
      //border: 1px solid $clrGrayLight;
      //border-bottom:2px solid transparent;

    }
    > .choices__list {

    }
    &:after { //arrow
      margin-top: -13px !important;
      border-color: transparent transparent $clrAcc transparent !important;
    }
  }
}
.choices--blue > .choices__list > .choices__list > .choices__item {
  color: $clrBlack !important;
  font-size: 16px;
}

.ch-box--v1 {
  label:before {
    font-size: 15px;
    font-weight: bold;
    color: $clrAcc;
    text-align: center;

    border-color: $clrAcc;
  }
}
.je-radio--v1{
  label:before {
    border: 2px solid $clrAcc;

  }
  input[type=radio]:checked + label:before {
    color: $clrAcc;
  }
}

.no-ui-slider--v1 {
  box-shadow: none;
  background: none;
  border: none;
  .noUi-base {
    height: 2px;
    background-color: white;
    box-shadow: none;

    .noUi-connect {
      height: 2px;
      background-color: $clrAcc;
      box-shadow: none;
    }
    .noUi-handle{
      cursor: pointer;
      border-radius: 10px;
      border: none;
      outline: none;
      background-color: $clrAcc;
      box-shadow: none;
      width: 20px;
      height: 20px;
      top: -8px;
      left: -10px;

      &:before, &:after {
        display: none;
      }
    }
  }
}
