//::-webkit-scrollbar {
//  width: 7px;
//}
//::-webkit-scrollbar-track {
//  background-color: rgba(black, 0.1);
//}
//::-webkit-scrollbar-thumb {
//  background-color: rgba(black, 0.2);
//}

body {
  @media (min-width: $screen-lg) {
    background-image: url('img/bg/bg-body.jpg');
  }
}