//jubilant-engine
.jeContainer {
  @media (min-width: $screen-xl) {
    width: $screen-xl;
  }
}

.je-alertino.je-alertino--ask-question {

  align-items: flex-start;

  @media (min-width: $screen-sm) {

  }
  @media (min-width: $screen-md) {

  }
  @media (min-width: $screen-lg) {

  }

  .je-alertino__overlay {
    background-color: rgba(white, 0.5);
  }
  .je-alertino__modal {
    background-color: transparent;
    //width: calc(320px);

    @media (min-width: $screen-sm) {

    }
    @media (min-width: $screen-md) {
      margin-top:$gap*2;
      //max-height: calc(100vh - #{$gap*2});
    }
    @media (min-width: $screen-lg) {

    }


    .je-alertino__global-wrapper {
      .je-alertino__content-wrapper {
        background-color: rgba($clrGrayDark, 1);
        border: 3px solid $clrMain1;
        border-bottom: none;


        @media (min-width: $screen-sm) {

        }
        @media (min-width: $screen-md) {

        }
        @media (min-width: $screen-lg) {
          border-top: none;
        }

        //&:before {
        //  content: '';
        //  display: block;
        //  position: absolute;
        //  outline: 1px solid darkred;
        //  height: $gap;
        //  width: 100%;
        //  top:0;
        //  left: 0;
        //  //background-image: linear-gradient(180deg, $clrGrayDark, transparent);
        //  background-color: red;
        //}

        .je-alertino__content {
          padding: $gap*2;
          width: 314px;
          @media (min-width: $screen-sm) {

          }
          @media (min-width: $screen-md) {
            width: 614px;
          }
          @media (min-width: $screen-lg) {
            width: 314px;
          }
        }
    }
      .je-alertino__cross {
      width: 36px;
      height: 36px;
      right: $gap*2;
      top: $gap*2;
      &:before,
      &:after {
        content: '';
        display: block;
        position: absolute;
        width: 46px;
        height: 3px;
        background-color: white;
        transition: all $timeShort;
      }
      &:hover {
        &:before,
        &:after {
          background-color: $clrAcc;
        }
      }
      &:before {
        top: 16px;
        left: -5px;
        transform: rotate(45deg);
      }
      &:after {
        top: 16px;
        left: -5px;
        transform: rotate(-45deg);
      }
    }
      @media (min-width: $screen-sm) {

      }
      @media (min-width: $screen-md) {
        //margin-top:$gap*2;
        max-height: calc(100vh - #{$gap*2});
      }
      @media (min-width: $screen-lg) {

      }
    }
  }

  .ps-container > .ps-scrollbar-y-rail {
    bottom: 40px !important;
  }
}
body{
  //border: 10px solid darkred;
}

//_libs-overriding
.ps-container > .ps-scrollbar-y-rail {
  z-index: 20;
}

.ps-container:hover > .ps-scrollbar-y-rail:hover {
  background-color: transparent;
}
.ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail {
  background-color: transparent;
  z-index: 20;
}
.ps-container:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail {
  background-color: transparent;
}
.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  width: 6px !important;
  border-radius: 0;
}
//_libs-overriding end

