$pSize: 120px;

@-webkit-keyframes anim-spin {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }

  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg)
  }
}

@keyframes anim-spin {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }

  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg)
  }
}

#preloader {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1000;
  //background-image: url('img/bg/bg-body.jpg');
  background-color: white;
  opacity: 1;
  transition: bottom 0.7s, opacity 0.7s;
  overflow: hidden;
}

.preloader__image {
  background: url("img/bg/gear.png");
  height: $pSize;
  width: $pSize;
  background-size: cover;
  position: absolute;
  right: calc(50% - 60px);
  top: 37%;
  -webkit-animation: anim-spin 2s infinite linear;
  animation: anim-spin 2s infinite linear;
}

.preloader.hidden > .preloader__image {
  display: none;
}

.preloader.hidden {
  opacity: 0 !important;
  bottom: 100% !important;
}