@mixin je-snake($clrSnakeMain: green, $clrSnakeShield:rgba(white, 0.2), $deg: 45 deg, $snakeX: 32px, $snakeY: 32px){
  @keyframes my-loader-motion {
    0% {background-position: 0 0 }
    100% {background-position: $snakeX 0}
  };
  background-color: $clrSnakeMain;
  background-image: linear-gradient(
                  45deg,
                  $clrSnakeShield 25%, transparent 25%,
                  transparent 50%, $clrSnakeShield 50%,
                  $clrSnakeShield 75%, transparent 75%,
                  transparent);
  background-size: $snakeX $snakeY;
  animation: my-loader-motion 500ms linear infinite;
}
