.jeDebugBg {
  &:nth-of-type(3n+1) {
    background: rgba(#aff, 0.5);
  }
  &:nth-of-type(3n+2) {
    background: rgba(#fdf, 0.5);
  }
  &:nth-of-type(3n+3) {
    background: rgba(#ffa, 0.5);
  }
}
.jeDebugBorder {
  &:nth-of-type(3n+1) {
    border: 1px solid darkred;
  }
  &:nth-of-type(3n+2) {
    border: 1px solid darkgreen;
  }
  &:nth-of-type(3n+3) {
    border: 1px solid darkblue;
  }
}