//Говно эти правила - все равно дизайнеры нихуя не следуют типографическим соглашениям

#{$h1} {
  font-size: $font-size-h1;
}
#{$h2} {
  font-size: $font-size-h2;
}
#{$h3} {
  font-size: $font-size-h3;
}
#{$h4} {
  font-size: $font-size-large;
}
#{$h5} {
  font-size: $font-size-base;
}
#{$h6} {
  font-size: $font-size-small;
}

#{$h1}, #{$h2}, #{$h3}, #{$h4}, #{$h5}, #{$h6} {
  line-height: 1.1;
  font-weight: normal;
  text-decoration: none;
}
#{$h1}, #{$h2}, #{$h3} {
  margin-top: 20px;
  margin-bottom: 10px;
}
#{$h4}, #{$h5}, #{$h6} {
  margin-top: 10px;
  margin-bottom: 10px;
}

body {
  font-size: $font-size-base;
}
p {
  margin: 0 0 10px;

}

.jeTextShadow {
  text-shadow: 0px 0px 6px #222;
}
.bold {
  font-weight: bold;
}
@media (max-width: $screen-sm - 1px) {
  #{$h1} {
    font-size: $font-size-h2;
  }
  #{$h2} {
    font-size: $font-size-h3;
  }
  #{$h3} {
    font-size: $font-size-large;
  }
  #{$h4} {
    font-size: $font-size-base;
  }
}