//Colours
$clrBlack:              hsl(0, 0%, 12%)   !default;
$clrText:               hsl(0, 0%, 12%)   !default;
$clrTextLight:          hsl(0, 0%, 44%)   !default;
$clrDivider:            hsl(0, 0%, 85%)   !default;
$clrGrayLight:          hsl(0, 0%, 95%)   !default;
//$clrError:              hsl(358, 85%, 52%) !default;
$clrError:              hsl(11, 100%, 43%); //нормально смотриться на темном фоне
$clrValid:              green !default;

//Font-Sizes
$font-size-h1:            3.157em !default;
$font-size-h2:            2.369em !default;
$font-size-h3:            1.777em !default;
$font-size-large:         1.333em  !default;
$font-size-base:          1em     !default;
$font-size-small:         0.75em   !default;

//Times
$timeShort:   0.2s  !default;
$timeMed:     0.5s  !default;
$timeLong:    1.2s  !default;
$timeHuge:    3s    !default;

//BreakPoints
//Этих breakpoints. sm-min и sm-max не нужно
$screen-sm: 480px   !default;
$screen-md: 840px   !default;
$screen-lg: 1200px  !default;
$screen-parallax: 1281px  !default;

//Typo
$h1: 'h1, .h1';
$h2: 'h2, .h2';
$h3: 'h3, .h3';
$h4: 'h4, .h4';
$h5: 'h5, .h5';
$h6: 'h6, .h6';


//Other
$headerHeight: 75px !default;
$hovers: '&:hover, &.hover';

$gap:           7px !default;
$lineThin:      2px !default;
$lineThick:     4px !default;
$borderRadius:  0px !default;

//$hovers: '&:hover, &.hover, &:focus';   //под сомнением
