/*
Usage (SS Example)
<div class="jeWithImage jeWithImage_fx-dark-bg jeWithImage_fx-dark-bg_015">
    <picture>
        <source media="(min-width: 1200px)" srcset="$SecondaryBannerCalculated.FillRate(1800, 0.15).URL">
        <source media="(min-width: 840px)" srcset="$SecondaryBannerCalculated.FillRate(1200, 0.2).URL">
        <source media="(min-width: 480px)" srcset="$SecondaryBannerCalculated.FillRate(840, 0.33).URL">
        <source media="(min-width: 200px)" srcset="$SecondaryBannerCalculated.FillRate(480, 0.45).URL">
        <img class="jeWithImage__image"
          src="$SecondaryBannerCalculated.FillRate(1200, 0.45).URL"
        >
    </picture>

    <div class="jeWithImage__content">
        <p class="title h1 bold jeTextShadow">$title</p>
    </div>
</div>

*/


//safari fails on combination of
//negative z-index, position: absolute and simultaneously running transforms on two elements
//like scale or translate
//DO NOT FORGET ABOUT &.with-image_dynamic-height and &.not-fixed-height(deprecated)
.jeWithImage {
  //позаменять названия классов переменными. Классы как например jeWithImage__image
  position: relative;
  //НЕ УДАЛЯТЬ ПОКА НЕ УБЕЩИШЬСЯ ЧТО ЭТО ДЕЙСТВИТЕЛЬНО НЕ НУЖНО
  //  //проверить что будет для нединамичной высоты, если добавить этот position: relative;
  //  //возможно можно просто убрать этот модификатор
  //&.jeWithImage_dynamicHeight {
  //  div.jeWithImage__content,
  //  a.jeWithImage__content {
  //    position: relative;
  //  }
  //}
  //Проверка убирания модификатора
  div.jeWithImage__content,
  a.jeWithImage__content {
    position: relative;
  }

  img.jeWithImage__image {

    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    z-index: 0;
    height: 100%;   //needs only for image
    width: 100%;    //needs only for image
    object-fit: cover;
    font-family: 'object-fit: cover;';
  }
  div.jeWithImage__content,
  a.jeWithImage__content {
    display: block;
    position: absolute;  
    content: '';

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
  }

  &:before,
  &:after {
    display: block;
    position: absolute;
    content: '';

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }

  //Vars
  $opacity: 0.6;
  $colorLight: rgba(black, 0);
  $colorDark: rgba(black, $opacity);

  //FX
  &.jeWithImage_fx-dark-bg {
    &.jeWithImage_fx-dark-bg_070 { &:before {opacity: 0.70;}}
    &.jeWithImage_fx-dark-bg_040 { &:before {opacity: 0.40;}}
    &.jeWithImage_fx-dark-bg_030 { &:before {opacity: 0.30;}}
    &.jeWithImage_fx-dark-bg_015 { &:before {opacity: 0.15;}}
    &:before {
      background-color: black;
      opacity: 0.88;
    }
  }
  &.jeWithImage_fx-light-bg {
    &:before {
      background-color: white;
      opacity: 0.9;
    }
  }

  &.jeWithImage_fx-hover-vertical-linear-gradient {
    &:before, &:after {
      transition: opacity $timeShort;
    }
    &:before {
      background-image: linear-gradient(180deg, $colorLight, $colorDark);
      opacity: 1;
    }
    &:after {
      background-image: linear-gradient(0deg, $colorLight, $colorDark);
      opacity: 0;
    }
    #{$hovers} {
      &:before {
        opacity: 0;
      }
      &:after {
        opacity: 1;
      }
    }

  }
  &.jeWithImage_fx-hover-dark {
    &:before {
      transition: opacity $timeShort;
      background-color: $colorDark;
      opacity: 1;
    }
    #{$hovers} {
      &:before {
        opacity: 0;
      }
    }
  }
  &.jeWithImage_fx-hover-dark-less {
    &:before {
      transition: opacity $timeShort;
      background-color: rgba(black, 0.3);
      opacity: 1;
    }
    #{$hovers} {
      &:before {
        opacity: 0;
      }
    }
  }
  &.jeWithImage_fx-hover-normal-from-dark {
    &:before {
      transition: opacity $timeShort;
      background-color: $colorDark;
      opacity: 0;
    }
    #{$hovers} {
      &:before {
        opacity: 1;
      }
    }
  }
  &.jeWithImage_fx-hover-slide-to-right {
    overflow: hidden;
    img.jeWithImage__image {
      width: 105%;
      left: -5%;
      transition: left $timeMed;
    }
    #{$hovers} {
      img.jeWithImage__image {
        left: 0%;
      }
    }
  }
  &.jeWithImage_fx-hover-zoom {
    overflow: hidden;
    img.jeWithImage__image {
      transform: scale(1);
      transition: transform $timeMed;
    }
    #{$hovers} {
      img.jeWithImage__image {
        //rotate - костыль против фаерфокса. Иначе в фаерфоксе подрагивает
        //Проверть на новых версиях фаерфокса убрав костыль.
        transform: scale(1.1) rotate(0.02deg);
      }
    }
  }
}