@mixin jeSlickHideBeforeReady($sliderSelector, $slideSelector, $qtyToShow:1){
  #{$sliderSelector} {
    #{$slideSelector} {
      display: none;
      &:nth-child(-n + #{$qtyToShow}) {
        display: block;
      }

      $i: 1;
      @while $i < ($qtyToShow + 1) {
        &:nth-child(-n + #{$qtyToShow}) {
          display: block;
        }
        $i: $i + 1;
      }
    }
    &.slick-initialized {
      #{$slideSelector} {
        display: block;
      }
    }
  }
}
//добавлять это миксин в селектор слайдера
//использовать в соченании с таким конфигом slick'а
//prevArrow: '<div class="slick-prev"><div class="jeArrow jeArrow_left"></div></div>',
//nextArrow: '<div class="slick-next"><div class="jeArrow jeArrow_right"></div></div>',
@mixin jeSlickButtonsDefault(){
  .slick-arrow {
    outline: 1px solid green;
    border: none;
    background-color: transparent;
    color: transparent;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translatey(-50%);
    height: 100%;
    width: 20%;
    max-width: 150px;

    &.slick-next {
      right: 0;
    }
    &.slick-prev {
      left: 0;
    }

    .jeArrow {
      @include jeAbsCenter();
    }
  }
}