@import '../icon-spare-type/icon-spare-type';

.spares-on-main {
  display: flex;
  flex-flow: row wrap;
  position: relative;
  
  
  //костыль из-за того что блеать дизайнер не придерживался единства стилей4
  //.btn {
  //  border-color: $clrMain3 !important;
  //}
  
  p {
    color: black;
  }
  
  
  .spares-on-main__first {
    flex: 0 1 100%;
    background-color: $clrMain3;

    margin-bottom:$gap*2;
    position: relative;
    
    display: flex;
    flex-flow: row wrap;
    justify-content:space-between;
    padding-left: $gap*2;
    padding-right: $gap*2;
    padding-top: $gap*2;

    .icon-spare-type {
      display: none;
      &:nth-child(-n+6) {
        display: block;
      }
      @media (min-width: $screen-md) {
        &:nth-child(-n+8) {
          display: block;
        }
      }
      @media (min-width: $screen-xl) {
        &:nth-child(-n+12) {
          display: block;
        }
      }
    }
    
    //торчалка
    &:before {
      content: '';
      //display: block; //трюк с флексбоксом и :before перестал работать в ФФ. Новые стандарты. Скоро перестанет и в хроме.
      display: none;
      position: absolute;
      height: $gap*2;
      width: 4px;
      top: 100%;
      left: calc(50% - 4px);
      background-color: $clrMain3;
    }
  }
  .spares-on-main__second {
    flex: 0 1 100%;

    border: 3px solid $clrMain3;
    background-color: $clrWhiteTrans1;
    
    
    column-count:1;
    -moz-column-count:1;
    column-gap: 0;
    -moz-column-gap: 0;
    padding: $gap*2;
    padding-bottom:0px;
    
    a {
      display: block;
      margin-bottom:$gap*2;
      page-break-inside: avoid; /* Firefox */
      break-inside: avoid;
      //padding-top: 1px; //dirty fix for outsided top margins //Chrome, FF, Edge
    }
  }

  @media (min-width: $screen-md) {

    
    .spares-on-main__first {
      padding-bottom: 9px;
    }
    .spares-on-main__second {
      column-count:2;
      -moz-column-count:2;
      column-gap: $gap*4;
      -moz-column-gap: $gap*4;
      a {
        margin-bottom:$gap*2;
        page-break-inside: avoid; /* Firefox */
        break-inside: avoid;
        //padding-top: 1px; //dirty fix for outsided top margins //Chrome, FF, Edge
      }
    }
  }
  
  @media (min-width: $screen-lg) {
    
    justify-content: space-between;
    .spares-on-main__first {
      order: 2;
      flex: 0 1 calc(66.6% - #{$gap*2});

      margin-bottom: 0;
      //торчалка
      &:before {
        //display: none;
        height: 4px;
        width: calc(#{$gap*4} + 2px);
        right: 100%;
        left: initial;
        top: calc(50% - 3px);
        background-color: $clrMain3;
      }
      
    }
    .spares-on-main__second {
      order: 1;
      flex: 0 1 calc(33.3% - #{$gap*2});

      column-count:1;
      -moz-column-count:1;
      column-gap: 0;
      -moz-column-gap: 0;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
    }
  }
}