.order-callback-triangle-bottom {
    display: block;
    background-image: url('./Includes/order-callback-triangle-bottom/img/bottom-sm.png');
    width: 100%;
    height: 60px;
  position: relative;
  margin-top: -1px;
  &:before {
    //content: '';
    display: block;
    position: absolute;
    height: $gap;
    width: calc(100% - 6px);
    //background-color: blue;
    bottom: 100%;
    left: 3px;
    background-image: linear-gradient(180deg, transparent, $clrGrayDark);
  }
    @media (min-width: $screen-sm) {

    }
    @media (min-width: $screen-md) {
      height: 137px;
      background-image: url('./Includes/order-callback-triangle-bottom/img/bottom-lg.png');
    }
    @media (min-width: $screen-lg) {
      height: 60px;
      background-image: url('./Includes/order-callback-triangle-bottom/img/bottom-sm.png');
    }
}
