.order-callback-triangle-top {
  display: none;

  @media (min-width: $screen-sm) {

  }
  @media (min-width: $screen-md) {

  }
  @media (min-width: $screen-lg) {
    display: block;
    background-image: url('./Includes/order-callback-triangle-top/img/top-sm.png');
    width: 100%;
    height: 60px;
    margin-bottom: -1px;
    position: relative;
    z-index: 10;
    &:before {
      //content: '';
      display: block;
      position: absolute;
      height: $gap*2;
      width: calc(100% - 6px);
      //background-color: blue;
      top: 100%;
      left: 3px;
      background-image: linear-gradient(0deg, transparent, $clrGrayDark);
    }
  }


}
