.page-catalog {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 72px;
  padding-right: 72px;
}

.page-catalog__filter-area {
  display: flex;
}

.filter-area__filter-after {
  height: 122px;
  display: block;
  background-image: url("img/bg/filter-bottom.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.page-catalog__items-area {
  display: flex;
}

.page-catalog__description {
  display: flex;
  width: 100%;
}

.items-area {
  width: 100%;
}

.items-area__title {
  display: inline-block;
}

.items-area__controls {
  display: inline-block;
  text-align: right;
}

.items-area__sort-list {
  display: inline-block;
}

.sort-list__title {
  display: inline-block;
  font-family: "Roboto Medium";
}

.sort-list__input-area {
  display: inline-block;
  margin-left: 10px;
  width: 215px;
}

.sort-list__sort-select {
  width: 100%;
  height: 0px;
}

.sort-list__input-area .choices__item {
  text-align: left;
}

.sort-list__sort-option {
  color: #555555;
}

.items-area__compare-button {
  font-family: "Roboto Regular";
  display: inline-block;
  position: relative;
  width: 125px;
  height: 36px;
  border: 3px solid #508093;
  text-align: center;
  padding-top: 6px;
  top: 8px;
  margin-left: 14px;
  cursor: pointer;
  
  &.disabled {
    opacity: 0.5;
    &:hover {
      border: 3px solid #508093 !important;
      background-color: transparent !important;
      color: $clrBlack !important;
      cursor: default !important;
    }
  }
}

.items-area__compare-button:hover, .items-area__compare-button.active {
  border: none;
  color: #ffffff;
  background-color: #eaad41;
  border: 3px solid #eaad41;
}

.sort-list__input-area {
  -webkit-box-shadow: 0px 2px 7px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 2px 7px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 2px 7px 0px rgba(50, 50, 50, 0.75);
}

.catalog-items-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.catalog-description {
  width: 100%;
}

.catalog-description__line {
  margin-bottom: 38px;
}

.catalog-description__text hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #dadada;
  margin: 15px 0;
  padding: 0;
  width: calc(100% + 30px);
  position: relative;
  left: -15px;
}

.catalog-description__text {
  background-color: #777777;
  color: #ffffff;
  padding: 20px 16px;
  font-family: 'Roboto Regular', 'sans-serif';
  font-size: 16px;
}

@media (max-width: 799px) {
  .items-area__compare-button {
    display: none;
  }

  .page-catalog {
    padding-left: 5px;
    padding-right: 5px;
    width: 320px;
  }

  .items-area__header {
    margin-bottom: 16px;
  }

  .catalog-description__text {
    margin-bottom: 30px;
  }
}

@media (min-width: 800px) and (max-width: 1079px){
  .page-catalog {
    padding-left: 72px;
    padding-right: 72px;
    width: 800px;
  }

  .sort-list__input-area {
    width: 225px;
  }

  .items-area__compare-button {
    width: 108px;
  }

  .items-area__header {
    margin-bottom: 14px;
  }

  .catalog-description__text {
    margin-bottom: 42px;
  }
}

@media (max-width: 1079px) {
  .items-area__controls {
    width: 100%;
  }

  .items-area__title {
    width: 100%;
  }
}

@media (min-width: 1080px) {
  .items-area__controls {
    width: 510px;
  }

  .items-area__title {
    width: calc(100% - 520px);
  }
}

@media (min-width: 1080px) and (max-width: 1439px) {
  .page-catalog {
    width: 1080px;
  }

  .items-area__header {
    margin-bottom: 34px;
  }

  .catalog-description__text {
    margin-bottom: 57px;
  }
}

@media (max-width: 1439px) {
  .page-catalog__filter-area {
    width: 100%;
  }

  .page-catalog__items-area {
    width: 100%;
  }
}

@media (min-width: 1440px) {
  .items-area__header {
    margin-bottom: 32px;
  }

  .page-catalog {
    width: 1440px;
  }

  .page-catalog__filter-area {
    width: 20%;
  }

  .page-catalog__items-area {
    width: 80%;
    padding-left: 37px;
  }

  .catalog-description__text {
    margin-bottom: 34px;
  }
}