//block
.questions-and-asks-wrapper {
  //outline: 1px solid green;
  overflow: visible;
  display: flex;
  flex-flow: column nowrap;
  justify-content:center;
  
  
  @media (min-width: $screen-lg) {
    flex-flow: row nowrap;
    justify-content: space-between;
    $ask-question-width: 288px;
    .questions {
      //flex: 0 1 calc(100% - #{$ask-question-width} - #{$gap*4});
      @include flexMofN(2,3);
      //margin-right:$gap*2;
    }
    .ask-question {
      //margin-left:$gap*2;
      //flex: 0 1 $ask-question-width;
      @include flexMofN(1,3);
      margin-top: -40px;
    }
  }
  @media (min-width: $screen-xl) {
    flex-flow: row nowrap;
    $ask-question-width: 288px;
    .questions {
      //flex: 0 1 calc(100% - #{$ask-question-width} - #{$gap*4});
      @include flexMofN(3,4);
      //margin-right:$gap*2;
    }
    .ask-question {
      //margin-left:$gap*2;
      //flex: 0 1 $ask-question-width;
      @include flexMofN(1,4);
    }
  }

  .ask-question-form {
    display: none;
  }
  
}
//block
.questions {
  //outline: 1px solid darkred;
  overflow: auto;
}

//block
.question-item {
  $time: $timeShort;
  $easing: 'linear';
  overflow: hidden;
  //outline: 1px solid pink;
  padding-bottom: $gap*2;

  &.question-item--open {
    .question-item__question {
      background-color: $clrAcc;
      &:before {
        transform: translatey(-50%) rotate(180deg) !important;
        background-image: url('img/arrows/arrow1/arrow-white.png');
      }
    }
    .question-item__answer {
      transition: all $time ease-in;
      max-height: 300px;
      @media (min-width: $screen-sm) {
        max-height: 250px;
      }
      @media (min-width: $screen-md) {
        max-height: 200px;
      }
      @media (min-width: $screen-lg) {
        max-height: 150px;
      }
      //max-height: 50px;
      padding-top: $gap*2;
      padding-bottom: $gap;
      
      //triangle
      &:before {
        opacity: 1;
        top: -13px;
      }
    }
  }
  
  .question-item__question {
    position: relative;
    overflow: hidden;
    background-color: $clrMain3;
    padding: $gap;
    padding-right:$gap*4;
    transition: all $timeMed;
    p {
      font-weight: bold;
      margin: 0;
    }
    &:before {
      transition: all $timeMed;
      content: '';
      position: absolute;
      //outline: 1px solid $clrAcc;
      width: 16px;
      height: 16px;
      top: 50%;
      right: $gap;
      transform: translatey(-50%) rotate(0deg);
      background-image: url('img/arrows/arrow1/arrow-orange.png');
      background-repeat: no-repeat;
      background-position: center;
    }
    &.hover {
      background-color: $clrAcc;
      cursor: pointer;
      &:before {
        transform: translatey(-50%) rotate(0deg);
        background-image: url('img/arrows/arrow1/arrow-white.png');
      }
    }
    &:hover {
      cursor: pointer;
    }
  }
  .question-item__answer {
    transition: all $time ease-out;
    max-height: 0px;
    overflow: hidden;
    background-color: $clrMain3;
    position: relative;

    padding-left: $gap;
    padding-right: $gap;
    padding-top: 0;
    padding-bottom: 0;
    p {
      margin: 0;
    }
    
    //triangle
    &:before {
      transition: all $time;
      opacity: 0;
      content: '';
      display: block;
      position: absolute;
      width: 25px;
      height: 25px;
      background-color: $clrAcc;
      left: 50%;
      //top: -13px;
      top: -28px;
      transform: translatex(-50%) rotate(45deg);
    }
  }
  
}

//block
.ask-question {
/*   outline: 1px solid blue; */
  overflow: auto;
}

//block
.kb-list-and-articles-wrapper {
  //outline: 1px solid darkred;
  overflow: hidden;
  display: flex;
  //flex-flow: row nowrap;
  flex-flow: row wrap;
  justify-content:space-between;
  
  .articles-list {
    display: none;
    @media (min-width: $screen-lg) {
      //display: flex;
      display: block; //чтоб внутренние не тянулись
      align-self: flex-start;
      @include flexMofN(1,3);
    }
    @media (min-width: $screen-xl) {
      @include flexMofN(1,4);
    }
  }
  .kb-articles {
    @media (min-width: $screen-lg) {
      @include flexMofN(2,3);
    }
    @media (min-width: $screen-xl) {
      @include flexMofN(3,4);
      
    }
  }
}

//block 
.kb-articles {
  overflow: hidden;
  .kb-articles__header {
    display: block;
    background-color: $clrMain1;
    padding: $gap*2;
    margin-bottom:$gap*2;
  }
}

//block
.kb-article {
  background-color: white;
  margin-bottom:$gap*2;
  transition: all $timeMed;
  display: block;
  min-height:10px;
  p {
    color: $clrGrayBG;
  }
  .kb-article__img{
    display: block;
    width: 100%;
    height: 140px;
    margin-bottom:$gap*2;
    overflow: hidden;
    img {
      transition: all $timeShort;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .kb-article__preview {
    color: $clrGrayBG;
  }
  p.kb-article__more {
    text-align: right;
    color: $clrMain1;
    text-decoration: underline;
  }
  &:hover {
    .kb-article__img{
      img {
        transform: scale(1.05);
      }
    }
    .kb-article__more {
      color: $clrAcc;
      transition: all $timeShort;
    }
    
  }
  @media (min-width: $screen-sm) {
    padding: $gap*2;
    border: 1px solid $clrGrayLight;
  }
  @media (min-width: $screen-xl) {
    .kb-article__img{
      width: 280px;
      height: 140px;
      float: left;
      margin-right:$gap*2;
      img {
      }
    }
  }
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}