<a href="#" class="ask-question">

    <p class="ask-question__header">Не нашли то, что искали? <br>Задайте вопрос!</p>
    <div class="ask-question__icon"></div>
    <span class="ask-question__btn btn btn_main btn--bold btn--uppercase btn_wide">Задать вопрос</span>


</a>
