<footer class="footer-main-wrapper">
    <div class="jeContainer footer-main">
        <div class="content1">
            <a href="" class="logo"></a>
            <div class="phones">
                <p><a href="tel:+79876543210">8 (987) 654-32-10</a></p>
                <p><a href="tel:+79876543210">+7 (987) 654-32-10</a><p>
            </div>
            <p class="copy">© 2008-2016 ООО&nbsp;"Мировое&nbsp;оборудование"</p>
        </div>
        <div class="menus">
            {% for item in [1,2,3] %}
                <ul class="menu">
                    {% for item in [1,2,3,4,5] %}
                        <li><a href="">Пункт меню</a></li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>
    </div>
    <br>
    <br>
    <br>
</footer>