<form action="/ajax-temp/spares-form.php" class="form-filter-spares" novalidate enctype="multipart/form-data">
    <div class="form-filter-spares__selects">
        <div class="form-filter-spares__equipment-type">
            <p class="h3">ТИП ОБОРУДОВАНИЯ</p>
            <select name="equipment-type" class="form-filter-spares--equipment-type-select">
                {#<option disabled selected>Выберите тип оборудования</option>#}
                <option selected value="empty">Выберите тип оборудования</option>
                <option value="Чебурашка">Чебурашка</option>
                <option value="Крокодил Гена">Крокодил Гена</option>
                <option value="Шапокляк">Шапокляк</option>
                <option value="Крыса Лариса">Крыса Лариса</option>
            </select>
        </div>
        <div class="form-filter-spares__model-select">
            <p class="h3">ВЫБОР МОДЕЛИ</p>
            <select name="model" class="form-filter-spares--model-select" data-update-url="/update-spares-select2.php">
                <option selected value="empty">Выберите модель</option>
                <option value="Чебурашка">Чебурашка</option>
                <option value="Крокодил Гена">Крокодил Гена</option>
                <option value="Шапокляк">Шапокляк</option>
                <option value="Крыса Лариса">Крыса Лариса</option>
            </select>
        </div>
    </div>

    <div class="form-filter-spares__checkboxes-and-reset">
        <div class="form-filter-spares__spares-select">
            <p class="h3">ВЫБОР ЗАПЧАСТЕЙ</p>
            <div class="form-filter-spares__spares-ch-boxes">
                <div class="ch-box ch-box--v1">
                    <input id="check-engines" type="checkbox" name="engines">
                    <label for="check-engines">Двигатели</label>
                </div>
                <div class="ch-box ch-box--v1">
                    <input id="check-grids" type="checkbox" name="grids">
                    <label for="check-grids">Сетки</label>
                </div>
                <div class="ch-box ch-box--v1">
                    <input id="check-shnacks" type="checkbox" name="shnacks">
                    <label for="check-shnacks">Шнеки</label>
                </div>
                <div class="ch-box ch-box--v1">
                    <input id="check-knifes" type="checkbox" name="knifes">
                    <label for="check-knifes">Ножи</label>
                </div>
                <div class="ch-box ch-box--v1">
                    <input id="check-straps" type="checkbox" name="straps">
                    <label for="check-straps">Ремни</label>
                </div>
                <div class="ch-box ch-box--v1">
                    <input id="check-tans" type="checkbox" name="tans">
                    <label for="check-tans">Тэны</label>
                </div>
                <div class="ch-box ch-box--v1">
                    <input id="check-plastomers" type="checkbox" name="plastomers">
                    <label for="check-plastomers">Пластомеры</label>
                </div>

                <div class="ch-box ch-box--v1">
                    <input id="check-other" type="checkbox" name="other">
                    <label for="check-other">Прочее</label>
                </div>
            </div>
            <br>
        </div>

        <div class="form-filter-spares__clear-filter">
            {{ include('./Includes/btn-clear-filter.twig') }}
            <br>
        </div>
    </div>


    <div class="form-filter-spares__search-button">
        <a href="" class="btn btn_main form-filter-spares__submit">Найти на сайте</a>
    </div>

</form>
