<header class="header-main-wrapper jeContainerFluid">
    <div class="header-main jeContainer">

        <a href="/" class="logo"></a>
        <div class="phones">
            <div class="phones__text1">
                <p class="phone1"><a href="tel:+79876543210">8 (987) 654-32-10</a></p>
                <p class="russian-call"> звонок по России бесплатный</p>
                <p class="phone2"><a href="tel:+79876543210">+7 (987) 654-32-10</a><p>
            </div>
            <a href="" class="phones__link-for-modal">

            </a>
            <div class="phones__text2">
                Заказать<br>обратный<br>звонок
            </div>
            <div style="display: none;">
                <div class="order-callback-modal-content-touch">
                    <p class="p-with-icon">Заказать <br> обратный <br> звонок</p>
                    <br>
                    <div class="text">
                        <a href="tel:+79876543210">8 (800) 234-45-34</a>
                        <br>
                        <br>
                        <p>Звонок по России бесплатный!</p>
                        {#<br>#}
                        <p class="time">Время работы: 9.00 – 18.00</p>
                        {#<br>#}
                        <a href="tel:+79876543210">+7 (495) 542-20-86</a>
                    </div>
                </div>
                <div class="order-callback-modal-content-no-touch">
                    {#<br>#}
                    <p class="header">Заказать <br> обратный <br> звонок</p>
                    <form action="/path/to/send.php" class="form form--dark"
                          novalidate
                          enctype="multipart/form-data">
                        <label >Ваше имя:</label>
                        <input class="input input--dark" type="text" name="name" required
                               pattern="^.{3,}$"
                               pattern="^[ ()-1234567890]{6,}$"
                               maxlength="60"
                               autocomplete="off"
                        >
                        <br>
                        



                        <label >Ваш тел:</label>
                        <input class="input input--dark" type="text" name="phone" required
                               pattern="^[ ()-1234567890]{6,}$"
                               maxlength="60"
                               autocomplete="off"
                        >
                        <br>
                        <label >Адрес электронной почты:</label>
                        <input class="input input--dark" type="text" name="email" required
                               pattern="^\w+[\w\.]*@[\w.]+\.\w+$"
                               maxlength="60"
                               autocomplete="off"
                        >
                        <br>


                        <label >Вопрос:</label>
                        <textarea class="input input--dark" name="question" required
                                  maxlength="1000"
                        ></textarea>
                        <br>

                        <button type="submit" class="btn btn_main btn--bold btn--uppercase btn_wide">Отправить</button>
                        <br>
                        <br>

                    </form>
                </div>

            </div>
        </div>
    </div>
</header>
<div class="header-pusher"></div>
