<a href="#" class="icon-spare-type icon-spare-type----js-hack">
    <div class="icon-spare-type__img">
        <img class="img" src="{{ img }}" alt="">
        <img class="img-active" src="{{ imgActive }}" alt="">
    </div>
    <div class="icon-spare-type__desc"><span>{{ name|raw }}</span></div>
</a>