{#<div class="je-alertino je-alertino--ask-question">#}
    {#<div class="je-alertino__overlay"></div>#}
    {#<div class="je-alertino__modal">#}
        {#<div class="je-alertino__content">#}
            {#<p>#}
            {#прежде чем открывать,#}
            {#<br>#}
            {#установи контент при помощи setContent#}
            {#<br>#}
            {#установи контент при помощи setContent#}
            {#<br>#}
            {#установи контент при помощи setContent<br>#}
            {#установи контент при помощи setContent#}
            {#<br>#}
            {#установи контент при помощи setContent#}
            {#</p>#}
        {#</div>#}
        {#<div class="je-alertino__cross"></div>#}
    {#</div>#}
{#</div>#}