<a href="#" class="kb-article">
    <span class="kb-article__img">
        <img src="/img/placeholder1.jpg" alt="">
    </span>
    <p class="header-secondary">{{ title }}</p>
    <span class="kb-article__preview">
        {{ preview|raw }}
    </span>
    
    <p class="kb-article__more">
        Подробнее
    </p>
</a>