<div class="nav-gallery">
    <a href="#" class="nav-gallery__item nav-gallery__item_photo">
        <span class="icon"></span>
        <span class="text">Фото</span>
    </a>
    <a href="#" class="nav-gallery__item nav-gallery__item_video">
        <span class="icon"></span>
        <span class="text">Видео</span>
    </a>
    <a href="#" class="nav-gallery__item nav-gallery__item_complexes">
        <span class="icon"></span><span class="text">Комплексы</span>
    </a>
</div>