<div class="nav-gallery-se nav-gallery-se_state1">
    <a href="#" class="nav-gallery-se__item nav-gallery-se__item_photo">
        <span class="icon"></span>
        <span class="text">Фото</span>
    </a>
    <a href="#" class="nav-gallery-se__item nav-gallery-se__item_video">
        <span class="icon"></span>
        <span class="text">Видео</span>
    </a>
    <a href="#" class="nav-gallery-se__item nav-gallery-se__item_complexes">
        <span class="icon"></span><span class="text">Комплексы</span>
    </a>
</div>