<div class="hamburger">
    <div class="hamburger__top-block"></div>
    <div class="hamburger__mid-block"></div>
    <div class="hamburger__bot-block"></div>
</div>

<nav class="main-nav main-nav_closed no-transition">
    <div class="logo-wrapper">
        <a href="/" class="logo"></a>

    </div>
        <ul class="menu jeContainer">
            <li>
                <a href="#" class="btn btn_main btn--bold btn--uppercase btn_wide js-level1"><span class="menu-icon menu-icon_1"></span>Оборудование</a>
                <ul>
                    <li><a class="btn btn_main btn--bold btn--uppercase btn_wide" href="#">Линии грануляции</a></li>
                    <li><a class="btn btn_main btn--bold btn--uppercase btn_wide" href="#">Второй</a></li>
                    <li><a class="btn btn_main btn--bold btn--uppercase btn_wide" href="#">Третий</a></li>
                    <li><a class="btn btn_main btn--bold btn--uppercase btn_wide" href="#">Линии грануляции</a></li>
                    <li><a class="btn btn_main btn--bold btn--uppercase btn_wide" href="#">Второй</a></li>
                    <li><a class="btn btn_main btn--bold btn--uppercase btn_wide" href="#">Третий</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="btn btn_main btn--bold btn--uppercase btn_wide js-level1"><span class="menu-icon menu-icon_2"></span>Периферия</a>
                <ul>
                    <li><a class="btn btn_main btn--bold btn--uppercase btn_wide" href="#">Стренгорезы</a></li>
                    <li><a class="btn btn_main btn--bold btn--uppercase btn_wide" href="#">Трансформеры</a></li>
                    <li><a class="btn btn_main btn--bold btn--uppercase btn_wide" href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></li>
                    <li><a class="btn btn_main btn--bold btn--uppercase btn_wide" href="#">Синхрофазотроны</a></li>
                    <li><a class="btn btn_main btn--bold btn--uppercase btn_wide" href="#">Лангольеры</a></li>
                </ul>
            </li>
            <li><a href="#" class="btn btn_main btn--bold btn--uppercase btn_wide js-level1"><span class="menu-icon menu-icon_3"></span>Запчасти</a></li>
            <li><a href="#" class="btn btn_main btn--bold btn--uppercase btn_wide js-level1"><span class="menu-icon menu-icon_4"></span>Сервисный Центр</a></li>
            <li><a href="#" class="btn btn_main btn--bold btn--uppercase btn_wide js-level1"><span class="menu-icon menu-icon_5"></span>Контакты</a></li>
            <li>
                <a href="#" class="btn btn_main btn--bold btn--uppercase btn_wide js-level1"><span class="menu-icon menu-icon_6"></span>База Знаний</a>
            </li>

            {#<li><a href="#" class="btn btn_main btn--bold btn--uppercase btn_wide">База Знаний</a></li>#}
            {#<li><a href="#" class="btn btn_main btn--bold btn--uppercase btn_wide">База Знаний</a></li>#}
            {#<li><a href="#" class="btn btn_main btn--bold btn--uppercase btn_wide">База Знаний</a></li>#}
        </ul>
    {#</div>#}
</nav>
