<div class="items-area">

    <div class="items-area__header">

        <h1 class="items-area__title">
            {#Заголовок выборки элементов#}
        </h1>

        <div class="items-area__controls">

            <div class="items-area__sort-list">

                <div class="sort-list">

                    <div class="sort-list__title">Сортировать по:</div>

                    <div class="sort-list__input-area">

                        <select name="sort" id="sort" class="sort-list__sort-select js-select-on-equipment">
                            <option value="val_1" class="sort-list__sort-option">val_1</option>
                            <option value="val_2" class="sort-list__sort-option">val_2</option>
                        </select>

                    </div>

                </div>

            </div>

            <div class="items-area__compare-button global-compare-button disabled" data-section="equipment" data-href="/ajax-temp/match-response.php">
                Сравнить
            </div>

        </div>

    </div>

    <div class="items-area__items-list">

        <div class="catalog-items-list">

            {{ include('Includes/Catalog/catalog-item.twig', {index: '1'})  }}
            {{ include('Includes/Catalog/catalog-item.twig', {index: '2'})  }}
            {{ include('Includes/Catalog/catalog-item.twig', {index: '3'})  }}
            {{ include('Includes/Catalog/catalog-item.twig', {index: '4'})  }}
            {{ include('Includes/Catalog/catalog-item.twig', {index: '5'})  }}
            {{ include('Includes/Catalog/catalog-item.twig', {index: '6'})  }}
            {{ include('Includes/Catalog/catalog-item.twig', {index: '7'})  }}
            {{ include('Includes/Catalog/catalog-item.twig', {index: '8'})  }}
            {{ include('Includes/Catalog/catalog-item.twig', {index: '9'})  }}
            {{ include('Includes/Catalog/catalog-item.twig', {index: '10'})  }}
            {{ include('Includes/Catalog/catalog-item.twig', {index: '11'})  }}
            {{ include('Includes/Catalog/catalog-item.twig', {index: '12'})  }}
            {{ include('Includes/Catalog/catalog-item.twig', {index: '13'})  }}
            {{ include('Includes/Catalog/catalog-item.twig', {index: '14'})  }}
            {{ include('Includes/Catalog/catalog-item.twig', {index: '15'})  }}
            {{ include('Includes/Catalog/catalog-item.twig', {index: '16'})  }}
            {{ include('Includes/Catalog/catalog-item.twig', {index: '17'})  }}
            {{ include('Includes/Catalog/catalog-item.twig', {index: '18'})  }}
            {{ include('Includes/Catalog/catalog-item.twig', {index: '19'})  }}
            {{ include('Includes/Catalog/catalog-item.twig', {index: '20'})  }}
            {{ include('Includes/Catalog/catalog-item.twig', {index: '21'})  }}

        </div>

    </div>

</div>
