<div id="table-spares" style="color: black">
    <div class="table-spares__search-wrapper">
        <input type="search" class="search" placeholder="Поиск"/>
    </div>



    <div class="table-spares__sort-select-wrapper">
        <span class="table-spares__sort-select-label">Сортировать по:</span>
        <select class="table-spares__sort-select" placeholder="ololo">
            <option value="emptu">Укажите порядок сортировки</option>
            <option value="price-asc">Ценe (по возрастанию)</option>
            <option value="price-desc">Ценe (по убыванию)</option>
            <option value="name-asc">Названию (по возрастанию)</option>
            <option value="name-desc">Названию (по убыванию)</option>
            <option value="articul-asc">Артикул (по возрастанию)</option>
            <option value="articul-desc">Артикул (по убыванию)</option>
        </select>
        <br>
    </div>


    <div class="thead">
        <div class="articul sort" data-sort="articul">Артикул</div>
        <div class="img">Фото</div>
        <div class="name sort" data-sort="name">Название</div>
        <div class="description" data-sort="description">Описание</div>
        <div class="price sort" data-sort="price">Цена</div>
    </div>

    <div class="list">
        {% for item in [1,2,3,4,5] %}
            <a href="" class="link">
                <div class="box-img">
                    {#<img class="img" src="" />#}
                </div>
                <div class="box-name">
                    <span class="name">{{ item }}</span>
                </div>
                <div class="box-description">
                    <span class="description">{{ item }}</span>
                </div>
                <div class="box-articul">
                    <span class="articul">{{ item }}</span>
                </div>
                <div class="box-price">
                    <span class="price">{{ item }}</span>
                </div>
            </a>
        {% endfor %}
    </div>
    <ul class="pagination"></ul>
</div>
