.footer-main-wrapper {

  background: url('img/bg/bg-header-footer-small-pattern.jpg') 0px top repeat;


  .footer-main {
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    .content1, 
    .menus {
      flex: 0 1 auto;
    }
    
    .content1 {
      flex-basis: 100%;
      flex-flow: row wrap;
      a.logo {
        border-bottom: none !important;
        //position: absolute;
        background: url('img/logo/logo-base.png') center top no-repeat;
        //width: 125px;
        //height: 61px;
        width: 200px;
        height: 100px;
        background-size:contain;
        top: 19px;
        left: $gap*2;
        display: block;
        transition: all $timeMed;
        margin-top: $gap*2;
        &:hover {
          transform: translatey(-3px);
        }
        @media (min-width: $screen-sm) {
          display: inline-block;
        }
        @media (min-width: $screen-md) {

        }
        @media (min-width: $screen-lg) {
          display: block;
        }
      }
      .phones {
        margin-top: $gap*2;
        p {
          a {
            color: white;
            border-bottom: 1px solid white;
            font-size: $font-size-h2;
            &:hover {
              color: $clrAcc;
              border-bottom: 1px solid $clrAcc;
            }
          }

        }
        @media (min-width: $screen-sm) {
          float: right;
          margin-top: $gap*4;
          text-align: right;
        }
        @media (min-width: $screen-md) {

        }
        @media (min-width: $screen-lg) {
          float: none;
          margin-top: $gap*2;
          text-align: left;
        }
      }
      p.copy {
        margin-top: $gap*2;
        color: $clrGrayLight;
        font-size: $font-size-h5;
      }
      
      @media (min-width: $screen-lg) {
        flex-basis: auto;
      }
    }

    .menus {
      display: none;
      //outline: 1px solid green;
      margin-right: -$gap*2;
      @media (min-width: $screen-lg) {
        display: flex;
        flex-basis: 730px;
      }

      @media (min-width: $screen-xl) {
        flex-basis: 1040px;
      }
      
      ul.menu {
        flex: 0 1 33.3%;
        //outline: 1px solid darkred;
        list-style: none;
        margin: 0;
        padding: 0;
        margin-top: $gap*2;
        padding-left: $gap*2;
        padding-right: $gap*2;
        
        &:nth-child(1){li{a{background-color: $clrMain1;}}}
        &:nth-child(2){li{a{background-color: $clrMain3;}}}
        &:nth-child(3){li{a{background-color: $clrMain5;}}}
        li {
          margin-bottom: $gap*2;
          a {
            padding: $gap;
            display: block;
            color: white;
            background-color: $clrMain1;
            &:hover {
              background-color: $clrAcc;
            }
          }
        }
      }
    }
    
    
  }
  
  
  
  
}