<div class="catalog-items-list__item" data-item-id="{{ index }}" data-price="882000" data-priority="100" data-size="">

    <div class="catalog-list-item">

        <a href="#" class="catalog-list-item__big-link">

            <div class="catalog-list-item__title">
                Элемент {{ index }}
            </div>

            <div class="catalog-list-item__content">

                <img src="/img/10.jpg" alt="" class="catalog-list-item__image">

                <div class="catalog-list-item__price">
                    <p>₽ 1 279 359</p>
                </div>
            </div>

        </a>

        <div class="catalog-list-item__footer">

            <a href="#" class="catalog-list-item__more-link">Подробней</a>

            <div class="catalog-list-item__compare-button">

                <div class="compare-button">

                    <div class="compare-button__description">
                        <div class="compare-button__v-line"></div>
                        Сравнить
                    </div>

                    <div class="compare-button__icon"></div>

                </div>

            </div>
        </div>

    </div>

</div>