

<div class="input-block__item input-block__checkbox {{ blockClasses }}">

    {% if iconClass %}
        <div class="input-block__item-element input-block__item-icon {{ iconClass }}"></div>
    {% endif %}

    <label class="input-block__item-element input-block__item-label {{ labelClasses }}">
        {% if right %}
            {{ text }}
            <input type="checkbox" name="{{ inputName }}" value="{{ inputVal }}" class="input-block__item-element input-block__item-input {{ inputClasses }}">
        {% else %}
            <input type="checkbox" name="{{ inputName }}" value="{{ inputVal }}" class="input-block__item-element input-block__item-input {{ inputClasses }}">
            {{ text }}
        {% endif %}
    </label>

</div>