<div class="input-block__item input-block__range">

    <div class="input-block__range-min input-block__range-counter">
        <span class="input-block__valute">₽</span>
        <span class="input-block__counter">0</span>
    </div>

    <div class="input-block__range-max input-block__range-counter">
        <span class="input-block__valute">₽</span>
        <span class="input-block__counter">40000</span>
    </div>

    <div id="filter_price_range" data-max_val="40000" class="input-block__range-block"></div>

    <input type="hidden" name="price" value="0-40000" class="input-block__range-input">

</div>