<div class="catalog-filter">

    <div class="catalog-filter__title">

        <div class="catalog-filter__hide-button"></div>

    </div>

    <div class="catalog-filter__inputs-area">

        <div class="catalog-filter__input-block">

            <div class="input-block">

                <div class="input-block__title">Тип оборудования</div>

                <div class="input-block__content">

                    {{ include('Includes/Catalog/filter-input-select.twig') }}

                </div>

            </div>

        </div>

        <div class="catalog-filter__input-block">

            <div class="input-block">

                <div class="input-block__title">Тип отходов</div>

                <div class="input-block__content">

                    {{ include('Includes/Catalog/filter-input-checkbox.twig', {
                        text: 'Твёрдые отходы',
                        blockClasses: 'input-block__input-right',
                        inputName: 'waste-type',
                        inputVal: 'val_1',
                        inputClasses: 'input-block__input-circle',
                        iconClass: 'icon-hard',
                        labelClasses: 'input-block__item-label-icon',
                        right: true
                    }) }}

                    {{ include('Includes/Catalog/filter-input-checkbox.twig', {
                        text: 'Мягкие отходы',
                        blockClasses: 'input-block__input-right',
                        inputName: 'waste-type',
                        inputVal: 'val_2',
                        inputClasses: 'input-block__input-circle',
                        iconClass: 'icon-soft',
                        labelClasses: 'input-block__item-label-icon',
                        right: true
                    }) }}

                    {{ include('Includes/Catalog/filter-input-checkbox.twig', {
                        text: 'Спец. назначение',
                        blockClasses: 'input-block__input-right',
                        inputName: 'waste-type',
                        inputVal: 'val_3',
                        inputClasses: 'input-block__input-circle',
                        iconClass: 'icon-spec',
                        labelClasses: 'input-block__item-label-icon',
                        right: true
                    }) }}

                </div>

            </div>

        </div>

        <div class="catalog-filter__input-block">

            <div class="input-block">

                <div class="input-block__title">Диапазон цен</div>

                <div class="input-block__content">

                    {{ include('Includes/Catalog/filter-input-range.twig') }}

                </div>

            </div>

        </div>

        <div class="catalog-filter__input-block">

            <div class="input-block">

                <div class="input-block__title">Выбор материала</div>

                <div class="input-block__content input-block__content-columns" style="height: 170px">

                    {{ include('Includes/Catalog/filter-input-checkbox.twig', {
                        text: 'ПНД',
                        inputName: 'materias-types[]',
                        inputVal: 'val_1',
                        inputClasses: 'input-block__input-box',
                    }) }}

                    {{ include('Includes/Catalog/filter-input-checkbox.twig', {
                        text: 'ПВД',
                        inputName: 'materias-types[]',
                        inputVal: 'val_2',
                        inputClasses: 'input-block__input-box',
                    }) }}

                    {{ include('Includes/Catalog/filter-input-checkbox.twig', {
                        text: 'АБС',
                        inputName: 'materias-types[]',
                        inputVal: 'val_3',
                        inputClasses: 'input-block__input-box',
                    }) }}

                    {{ include('Includes/Catalog/filter-input-checkbox.twig', {
                        text: 'АБС4',
                        inputName: 'materias-types[]',
                        inputVal: 'val_4',
                        inputClasses: 'input-block__input-box',
                    }) }}

                    {{ include('Includes/Catalog/filter-input-checkbox.twig', {
                        text: 'АБС5',
                        inputName: 'materias-types[]',
                        inputVal: 'val_5',
                        inputClasses: 'input-block__input-box',
                    }) }}

                    {{ include('Includes/Catalog/filter-input-checkbox.twig', {
                        text: 'АБС6',
                        inputName: 'materias-types[]',
                        inputVal: 'val_6',
                        inputClasses: 'input-block__input-box',
                    }) }}

                    {{ include('Includes/Catalog/filter-input-checkbox.twig', {
                        text: 'АБС7',
                        inputName: 'materias-types[]',
                        inputVal: 'val_7',
                        inputClasses: 'input-block__input-box',
                    }) }}

                </div>

            </div>

        </div>

        <div class="catalog-filter__input-block">

            <div class="input-block">

                <div class="input-block__title">Состояние оборудования</div>

                <div class="input-block__content input-block__content-columns" style="height: 25px">

                    {{ include('Includes/Catalog/filter-input-checkbox.twig', {
                        text: 'Новое',
                        inputName: 'new',
                        inputVal: 'val_1',
                        inputClasses: 'input-block__input-circle',
                    }) }}

                    {{ include('Includes/Catalog/filter-input-checkbox.twig', {
                        text: 'б/у',
                        inputName: 'new',
                        inputVal: 'val_2',
                        inputClasses: 'input-block__input-circle',
                    }) }}

                </div>

            </div>

        </div>

        <div class="catalog-filter__input-block">

            <div class="input-block">

                <div class="input-block__title">Производительность</div>

                <div class="input-block__content input-block__content-columns" style="height: 77px">

                    {{ include('Includes/Catalog/filter-input-checkbox.twig', {
                        text: '150-200 кг/ч',
                        inputName: 'efficiency[]',
                        inputVal: 'val_1',
                        inputClasses: 'input-block__input-box',
                    }) }}

                    {{ include('Includes/Catalog/filter-input-checkbox.twig', {
                        text: '200-250 кг/ч',
                        inputName: 'efficiency[]',
                        inputVal: 'val_2',
                        inputClasses: 'input-block__input-box',
                    }) }}

                    {{ include('Includes/Catalog/filter-input-checkbox.twig', {
                        text: '250-300 кг/ч',
                        inputName: 'efficiency[]',
                        inputVal: 'val_3',
                        inputClasses: 'input-block__input-box',
                    }) }}

                    {{ include('Includes/Catalog/filter-input-checkbox.twig', {
                        text: '300-400 кг/ч',
                        inputName: 'efficiency[]',
                        inputVal: 'val_4',
                        inputClasses: 'input-block__input-box',
                    }) }}

                </div>

            </div>

        </div>

        <div class="catalog-filter__input-block">

            <div class="input-block">

                <div class="input-block__title">Наличие на складе</div>

                <div class="input-block__content input-block__content-columns" style="height: 25px">

                    {{ include('Includes/Catalog/filter-input-checkbox.twig', {
                        text: 'В наличии',
                        inputName: 'available',
                        inputVal: 'val_1',
                        inputClasses: 'input-block__input-circle',
                    }) }}

                    {{ include('Includes/Catalog/filter-input-checkbox.twig', {
                        text: 'Под заказ',
                        inputName: 'available',
                        inputVal: 'val_2',
                        inputClasses: 'input-block__input-circle',
                    }) }}

                </div>

            </div>

        </div>

        <div class="catalog-filter__input-block">

            <div class="input-block">

                <div class="input-block__title">Состояние оборудования</div>

                <div class="input-block__content input-block__content-columns" style="height: 25px">

                    {{ include('Includes/Catalog/filter-input-checkbox.twig', {
                        text: 'Новое',
                        inputName: 'new',
                        inputVal: 'val_1',
                        inputClasses: 'input-block__input-circle',
                    }) }}

                    {{ include('Includes/Catalog/filter-input-checkbox.twig', {
                        text: 'б/у',
                        inputName: 'new',
                        inputVal: 'val_2',
                        inputClasses: 'input-block__input-circle',
                    }) }}

                </div>

            </div>

        </div>

    </div>

</div>