<div class="input-block__item input-block__select">

    <select name="item-type" id="item-type" class="input-block__select-input js-select-on-equipment-filter">
        <option value="val_1" class="input-block__select-option">val_1</option>
        <option value="val_2" class="input-block__select-option">val_2</option>
    </select>

</div>