<div class="jeContainerFluid jumbo-list jumbo-list_equipment-lab jumbo-list_rtl">
    <div class="jeContainer jumbo-list__content">
        <p class="jumbo-list__header"><span>Лабораторное Оборудование</span></p>
        
        {{ include('Includes/Cards/CardBase.twig', {text: 'bar'}) }}
        {{ include('Includes/Cards/CardBase.twig', {text: 'Lorem ipsum consectetur!'}) }}
        {{ include('Includes/Cards/CardBase.twig', {text: 'Item3'})  }}
        {{ include('Includes/Cards/CardBase.twig', {text: 'Next cool stuff item'}) }}
    </div>
</div>