.ask-question-form {
  //width: 314px;
  //padding: $gap*2;
  .header {
    font-weight: bold;
    background-image: url('./Includes/ask-question-form/img/lamp.png');
    background-repeat: no-repeat;
    padding-left:$gap*4;
    padding-top: 3px;

  }
  //outline: 1px solid darkred;
  label,
  input,
  textarea {
    //color: white;
    display: block;
    width: 100%;
  }
  label {
    margin-bottom: $gap;
  }
  textarea {
    resize: none;
  }

  @media (min-width: $screen-sm) {

  }
  @media (min-width: $screen-md) {
    //width: 614px;
    form {
      width: 400px;
      margin: 0 auto;
    }
  }
  @media (min-width: $screen-lg) {
    //width: 314px;
    form {
      width: auto;
      margin: auto;
    }
  }
}
