$itemsQty: 3;

$itemWidthState1: 100px;
$itemHeightState1: 50px;

$itemWidthState2: 50px;
$itemHeightState2: 100px;

$itemWidthState3: 50px;
$itemHeightState3: 100px;

$itemWidthState4: 300px;
$itemHeightState4: 100px;

$timeState: 0.25s;
//$timeState: 0.6s;
//$timeState: 1s;

.nav-gallery-se {
  cursor: pointer;
  
  position: fixed;
  left: 50%;
  transform: translatex(-50%);
  bottom: 0;
  
  transition: all $timeState ease-in-out;

  z-index: 30;

  .nav-gallery-se__item {
    
    transition: all $timeState ease-in-out;
  
    position: absolute;
    overflow: hidden;
    
    border: none !important;
    &:hover {
      border: none !important;
    }
    
    .icon {
      width: 30px;
      height: 30px;
      //outline: 1px solid darkred;
      display: inline-block;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      top: 50%;
      transform: translatey(-50%);
      left: 35px;
      transition: all $timeState;
    }
    .text {
      //outline: 1px solid darkred;
      position: absolute;
      top: 50%;
      transform: translatey(-50%);
      left: 85px;
      transition: all $timeState;
      color: white;

    }
    
    &.nav-gallery-se__item_photo {
      background-color: $clrMain6;
      .icon {background-image: url('img/icons/nav-gallery/photo.png');}
    }
    &.nav-gallery-se__item_video {
      background-color: $clrMain4;
      .icon {background-image: url('img/icons/nav-gallery/video.png');}

    }
    &.nav-gallery-se__item_complexes {
      background-color: $clrMain2;
      .icon {background-image: url('img/icons/nav-gallery/complexes.png');}
    }
  }

  opacity: 0.990;
  &.nav-gallery-se_state1 {
    left: 50%;
    width: $itemWidthState1*$itemsQty;
    height: $itemHeightState1;
    opacity: 0.991;
    transform: translatex(-50%);
    
    .nav-gallery-se__item {
      width: $itemWidthState1;
      height: $itemHeightState1;

      .icon {
        left: 35px;
      }
      .text {
        opacity: 0;
      }
      
      @for $i from 1 through $itemsQty {
        &:nth-child(#{$i}) {
          left: $itemWidthState1 * ($i - 1);
          top: 0;
        }
      }
    }
  }
  &.nav-gallery-se_state2 {
    left: 50%;
    width: $itemWidthState2*$itemsQty;
    height: $itemHeightState2;
    opacity: 0.992;

    transform: translatex(-50%);
    

    .nav-gallery-se__item {
      .icon {

        left: 10px;
      }
      .text {
        opacity: 0;
      }
      width: $itemWidthState2;
      height: $itemHeightState2;
      @for $i from 1 through $itemsQty {
        &:nth-child(#{$i}) {
          left: $itemWidthState2 * ($i - 1);
          top: 0;
        }
      }
    }
  }
  &.nav-gallery-se_state3 {
    //left: calc(50% - (#{$itemHeightState4 * $itemsQty}) / 2);
    left: 45%;
    width: $itemWidthState3;
    height: $itemHeightState3*$itemsQty;
    opacity: 0.993;

    //transform: translatex(0%);
    transform: translatex(-50%);
    .nav-gallery-se__item {
      width: $itemWidthState3;
      height: $itemHeightState3;
      @for $i from 1 through $itemsQty {
        &:nth-child(#{$i}) {
          left: 0;
          top: $itemHeightState3 * ($i - 1);
        }
      }
      .icon {
        left: 10px;
      }
      .text {
        opacity: 0;
      }
    }
  }
  &.nav-gallery-se_state4 {
    //left: calc(50% - (#{$itemHeightState4 * $itemsQty}) / 2);
    left: 50%;
    width: $itemWidthState4;
    height: $itemHeightState4*$itemsQty;
    opacity: 0.994;
    transform: translatex(-50);
    
    .nav-gallery-se__item {
      width: $itemWidthState4;
      height: $itemHeightState4;
      
      @for $i from 1 through $itemsQty {
        &:nth-child(#{$i}) {
          left: 0;
          top: $itemHeightState4 * ($i - 1);
        }
      }
      //&:hover {
      &.hover {
        background-color: $clrAcc !important;
        cursor: pointer;
      }
      .icon {
        left: 10px;
      }
      .text {
        opacity: 1;
      }
    }
  }
}

@media (max-width: $screen-xl - 1px) {
  .nav-gallery-se {
    display: none;
  }
}