.hamburger {
  //@media (min-width: $screen-md) {
  @media (min-width: $screen-lg) {
    display: none;
  }
}

$headerHeightXS: 105px;
$headerHeightLG: 189px;
$headerHeightLGMin: 140px;

.header-main-wrapper {
  z-index: 11;  //потенциальное место для багов. z-индексы постоянно воюют друг с другом, особенно при использовании плагинов, которые их используют.
  overflow: hidden;
  position: fixed;

  transition: all $timeMed;
  background:
    url('img/bg/bg-header-footer.jpg') center top no-repeat;
  height: $headerHeightXS;
  @media (min-width: $screen-sm) {
    background:
            url('img/bg/bg-header-footer.jpg') left top no-repeat
            ,
            url('img/bg/bg-header-footer-pattern.jpg') 0px top repeat-x
  ;
  }
  //@media (min-width: $screen-md) {
  @media (min-width: $screen-lg) {
    height: $headerHeightLG;
  }

  .header-main {
    position: relative;
    height: 100%;

    a.logo {
      border-bottom: none !important;
      position: absolute;
      background: url('img/logo/logo-base.png') center top no-repeat;
      background-size:contain;
      width: 229px;
      height: 111px;
      top: 19px;
      left: $gap*2;
      display: none;
      transition: all $timeMed;
      &:hover {
        transform: translatey(-3px);
      }
      @media (min-width: $screen-lg) {
        display: block;
      }
    }

    .phones {
      color: white;
      display: inline-flex;
      flex-flow: row nowrap;
      justify-content:flex-start;
      align-items:center;

      position: absolute;
      right: $gap*2;
      top: 50%;
      transform: translateY(-50%) translateZ(0);
      transition: all $timeMed;

      @media (min-width: $screen-lg) {
        transform: none;
        top: 35px;
      }

      a {
        color: white;
        border-bottom: none;
      }

      > * {
        margin-left: 20px;
        flex: 0 1 auto;
        //outline: 1px solid darkred;
      }

      .phones__text1 {
        text-align: right;
        a {
          font-size: $font-size-h2;
          &:hover {
            color: $clrAcc;
            border-bottom: 1px solid $clrAcc;
          }
        }
        p {
          transition: all $timeMed;
          margin-bottom:7px;
          &.russian-call {
            transition: all $timeShort;
          }
        }

        display: none;
        //@media (min-width: $screen-sm) {
        @media (min-width: $screen-lg) {
          display: block;
        }
      }
      .phones__link-for-modal {
        width: 66px;
        height: 76px;
        background-image: url('img/icons/icon-callback.png');
        -webkit-backface-visibility: hidden;

        &:hover {
          //transform: scale(1.05);
          transform: translatey(-3px);
        }
      }
      .phones__text2 {
        display: none;
        overflow: hidden;

        @media (min-width: $screen-lg) {
          display: block;
          transition: all $timeMed;
          width: 75px;
          opacity: 1;
        }
      }
    }
  }
}

.header-pusher {
  transition: all $timeMed;

  height: $headerHeightXS;
  @media (min-width: $screen-lg) {
    height: $headerHeightLG;
  }
}

.scrolled-from-top {
  .header-main-wrapper {
    @media (min-width: $screen-lg) {
    //@media (min-width: $screen-md) {
      height: $headerHeightLGMin;

      a.logo {
        width: 136px;
        height: 66px;
      }

      .phones {
        top: 3px;

        .phones__text1 {
          a {

          }
          p {
            &.phone1 {
              transform: translate(-240px, 33px);
            }
            &.phone2 {
              transform: translate(0px, -23px);
            }
            &.russian-call {
              opacity: 0;
            }
          }

          //display: none;
        }


        .phones__text2 {
          //width: 0;
          opacity: 0;
          width: 0;
          margin-left: 0;
        }
      }
    }
  }
  .header-pusher {
    @media (min-width: $screen-lg) {
      height: $headerHeightLGMin;
    }
  }
}


.je-alertino.je-alertino--order-callback {

  align-items: flex-start;

  @media (min-width: $screen-sm) {

  }
  @media (min-width: $screen-md) {

  }
  @media (min-width: $screen-lg) {

  }

  .je-alertino__overlay {
    background-color: rgba(white, 0.5);
  }
  .je-alertino__modal {
    background-color: transparent;
    //width: calc(320px);

    @media (min-width: $screen-sm) {

    }
    @media (min-width: $screen-md) {
      margin-top:$gap*2;
      //max-height: calc(100vh - #{$gap*2});
    }
    @media (min-width: $screen-lg) {

    }


    .je-alertino__global-wrapper {
      .je-alertino__content-wrapper {
        background-color: rgba($clrGrayDark, 1);
        border: 3px solid $clrAcc;
        border-bottom: none;


        @media (min-width: $screen-sm) {

        }
        @media (min-width: $screen-md) {

        }
        @media (min-width: $screen-lg) {
          border-top: none;
        }

        .je-alertino__content {
          padding: $gap*2;
          width: 314px;
          @media (min-width: $screen-sm) {

          }
          @media (min-width: $screen-md) {
            width: 614px;
          }
          @media (min-width: $screen-lg) {
            width: 314px;
          }
        }
      }
      .je-alertino__cross {
        width: 36px;
        height: 36px;
        right: $gap*2;
        top: $gap*2;
        &:before,
        &:after {
          content: '';
          display: block;
          position: absolute;
          width: 46px;
          height: 3px;
          background-color: white;
          transition: all $timeShort;
        }
        &:hover {
          &:before,
          &:after {
            background-color: $clrAcc;
          }
        }
        &:before {
          top: 16px;
          left: -5px;
          transform: rotate(45deg);
        }
        &:after {
          top: 16px;
          left: -5px;
          transform: rotate(-45deg);
        }
      }
      @media (min-width: $screen-sm) {

      }
      @media (min-width: $screen-md) {
        //margin-top:$gap*2;
        max-height: calc(100vh - #{$gap*2});
      }
      @media (min-width: $screen-lg) {

      }
    }
  }

  .ps-container > .ps-scrollbar-y-rail {
    bottom: 40px !important;
  }
}

.order-callback-modal-content-touch {
  p {
    color: white;
  }
  a {
    font-size: $font-size-h2;
    color: $clrAcc !important;
    border-bottom: 1px solid $clrAcc !important;
  }
  p.p-with-icon {
    background-image: url('./Includes/Header/img/phone-in-round.png');
    background-repeat: no-repeat;
    padding-left: 50px;
    line-height: 15px;
  }
  p.time {
    font-size: $font-size-h3;
    margin-bottom:15px;
  }
  .text {
    text-align: center;
  }
  @media (min-width: $screen-md) and (max-width: $screen-lg - 1) {
    p {
     font-size: $font-size-large;
    }
    a {
      font-size: $font-size-h1;
      color: $clrAcc !important;
      border-bottom: 1px solid $clrAcc !important;
    }
    p.time {
      font-size: $font-size-h2;
    }
  }
}

.order-callback-modal-content-no-touch {
  //width: 314px;
  //padding: $gap*2;
  .header {
    background-image: url('./Includes/Header/img/phone-in-round.png');
    background-repeat: no-repeat;
    padding-left: 50px;
    line-height: 15px;


  }
  //outline: 1px solid darkred;
  label,
  input,
  textarea {
    //color: white;
    display: block;
    width: 100%;
  }
  label {
    margin-bottom: $gap;
  }
  textarea {
    resize: none;
  }

  @media (min-width: $screen-sm) {

  }
  @media (min-width: $screen-md) {
    //width: 614px;
    form {
      width: 400px;
      margin: 0 auto;
    }
  }
  @media (min-width: $screen-lg) {
    //width: 314px;
    form {
      width: auto;
      margin: auto;
    }
  }
}
