<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Станки</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />
    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="mstile-144x144.png" />

    <script type="text/javascript">
        WebFontConfig = {
            google: { families: [ 'Roboto:500,400,700,400italic:latin,cyrillic' ] }
        };
        (function() {
            var wf = document.createElement('script');
            wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();
    </script>


    {% block css %}
    {% endblock %}
</head>
<body>

<div id="preloader" class="preloader">
    <div class="preloader__image"></div>
</div>

{{ include('Includes/Header.twig') }}
{{ include('Includes/NavMain.twig') }}
{{ include('Includes/NavGallery.twig') }}
{{ include('Includes/NavGallerySE.twig') }}     {#SE means Super Expander#}

{% block content_main %}
{% endblock %}

{{ include('Includes/Footer.twig') }}
{{ include('Includes/je-alertino.twig') }}
{% block js %}
{% endblock %}

</body>
</html>
