.catalog-list-item {
  position: relative;
  width: 309px;
  height: 309px;
}

.catalog-list-item a {
  text-decoration: none;
  color: #ffffff;
  border-bottom: none;
}

.catalog-list-item a:hover {
  text-decoration: none;
}

.catalog-list-item__title {
  width: 100%;
  height: 58px;
  background-color: #508093;
  font-size: 17px;
  padding: 10px;
}

.catalog-list-item__content {
  height: 215px;
  background: url("Includes/Cards/_CatalogItemImg/placeholder.jpg");
  text-align: center;
  background-size: contain;
}

.catalog-list-item__price {
  background: rgba(0, 0, 0, 0.3);
  border: 2px solid #fff;
  display: block;
  left: 25px;
  margin: 0;
  width: 125px;
  padding: 10px 0px 0px 0px;
  text-shadow: none;
  z-index: 3;
  position: absolute;
  bottom: 60px;
}

.catalog-list-item__footer {
  //position: absolute;
  width: 100%;
  bottom: 0px;
  background-color: #508093;
  height: 37px;
  font-family: 'Roboto Regular', 'sans-serif';
  font-size: 16px;
  padding: 10px;
  color: #ffffff;
}

a.catalog-list-item__more-link {
  text-decoration: underline;
  display: inline-block;
  position: absolute;
}

.catalog-list-item__compare-button {
  display: inline-block;
  position: absolute;
  right: 10px;
}

.compare-button {
  width: 100%;
  text-align: right;
  cursor: pointer;
  position: relative;
  height: 20px;
  .compare-button__description {
    display: inline-block;
    margin-right: 35px;
    font-family: "Roboto Regular";
  }

  .compare-button__v-line {
    display: none;
  }

  .compare-button__icon {
    display: inline-block;
    background-image: url("Includes/Cards/_CatalogItemImg/compare-no-active.png");
    height: 22px;
    width: 25px;
    position: absolute;
    right: 0px;
    top: -2px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .compare-button:hover > .compare-button__icon, .compare-button__icon.active {
    //background-color: $clrMain4;
    //background-color: $clrGrayDark;
    //background-image: url("Includes/Cards/_CatalogItemImg/compare-active.png");
  }
  
  &:hover {
    .compare-button__icon {
      background-color: $clrGrayDark;
      @media (pointer:coarse) {
        background-color: transparent;
      }
    }
  }
  
  &.compare-button--active {

    .compare-button__icon {
      background-image: url("Includes/Cards/_CatalogItemImg/compare-active.png") !important;

    }
  }

  @media (min-width: 1399px) {
    .compare-button__description {
      display: none;
    }

    .compare-button__icon {
      right: -5px;
      top: -6px;
      height: 30px;
      width: 30px;
    }
    
    &:hover {
      .compare-button__icon {
        //background-color: #eaad41;
        //background-image: url("Includes/Cards/_CatalogItemImg/compare-no-active.png");
      }
      .compare-button__v-line {
        display: block;
        position: absolute;
        height: 9px;
        width: 3px;
        background-color: #eaad41;
        top: -11px;
        right: 52px;
      }
      .compare-button__description {
        display: block;
        position: absolute;
        color: #555555;
        background-color: #ffffff;
        font-size: 16px;
        padding-top: 6px;
        text-align: center;
        left: -65px;
        top: 33px;
        height: 37px;
        width: 111px;
        border: 3px solid #eaad41;
        z-index: 1;
        -webkit-box-shadow: 0px 2px 7px 0px rgba(50, 50, 50, 0.75);
        -moz-box-shadow:    0px 2px 7px 0px rgba(50, 50, 50, 0.75);
        box-shadow:         0px 2px 7px 0px rgba(50, 50, 50, 0.75);
      }
    }
  }
}



.catalog-list-item__image {
  width: 100%;
  height: 100%;
}

@media (max-width: 549px) {
  .catalog-items-list {
    width: 284px;
    margin: 0 auto;
  }

  .catalog-list-item {
    width: 284px;
    height: 284px;
  }

  .catalog-list-item__content {
    height: 197px;
  }

  .catalog-items-list__item {
    margin-right: 0px;
    margin-bottom: 18px;
  }
}

@media (min-width: 549px) and (max-width: 799px) {
  .catalog-items-list {
    width: 500px;
    margin: 0 auto;
  }

  .catalog-list-item__compare-button {
    display: none;
  }

  .catalog-list-item {
    width: 100%;
    height: 100%;
  }

  .catalog-list-item__content {
    height: 350px;
  }

  .catalog-list-item__image {
    width: 100%;
    height: auto;
  }

  .catalog-items-list__item {
    max-width: 500px;
    max-height: 500px;
    width: 100%;
    height: 100%;
    margin-right: 0px;
    margin-bottom: 18px;
  }

  .catalog-list-item__title {
    padding: 10px 20px;
  }

  .catalog-list-item__footer {
    padding: 10px 20px;
  }
}

@media (min-width: 800px) and (max-width: 1079px){
  .catalog-items-list {
    width: 653px;
    margin: 0 auto;
  }

  .catalog-items-list__item:nth-child(2n + 2) {
    margin-right: 0px;
  }

  .catalog-items-list__item {
    margin-right: 35px;
    margin-bottom: 35px;
  }
}

@media (min-width: 1080px) {
  .catalog-items-list__item:nth-child(3n + 3) {
    margin-right: 0px;
  }
}

@media (min-width: 1080px) and (max-width: 1399px) {
  .catalog-items-list__item {
    margin-right: 55px;
    margin-bottom: 55px;
  }
}

@media (min-width: 1399px) {
  .catalog-items-list__item {
    margin-right: 38px;
    margin-bottom: 38px;
  }


}