$wSm: 80px;
$wMd: 64px;
$wLg: 90px;
$wXl: 125px;

.strange-link {
  width: $wSm;
  float: left;
  border-bottom: none !important;
  margin-right: $gap;

  &:nth-child(3n + 3) {
    margin-right: 0;
  }
  @media (min-width: $screen-md) {
    width: $wMd;
  }
  @media (min-width: $screen-lg) {
    width: $wLg;
  }
  @media (min-width: $screen-xl) {
    width: $wXl;
  }

  .strange-link__icon {
    display: block;
    height: $wSm;
    width: 100%;
    border: 3px solid $clrAcc;
    position: relative;
    background-color: transparent;
    transition: all $timeShort;

    background-repeat: no-repeat;
    background-position: center;
    transition: all $timeShort;

    @media (min-width: $screen-md) {
      height: $wMd;
      background-size: 40px;
    }
    @media (min-width: $screen-lg) {
      height: $wLg;
      background-size: initial;
    }
    @media (min-width: $screen-xl) {
      height: $wXl;
    }

    &:after {
      content: '';
      position: absolute;
      display: none;
      width: 3px;
      top: 100%;
      background-color: $clrAcc;
      left: 50%;
      transform: translateX(-50%);
      transition: all $timeShort;


      opacity: 0px;
      height: 0px;
      @media (min-width: $screen-lg) {
        display: block;
      }
    }
  }

  p.typename {
    text-align: center;
    margin-bottom: 0;
    @media (min-width: $screen-lg) {
      border: 3px solid $clrAcc;
      padding-top: 4px;
      padding-bottom: 4px;
      margin-top: 8px;

    }
  }

  &:hover {
    .strange-link__icon {
      background-color: $clrAcc;
      &:after {
        height: 11px;
        opacity: 1;
      }
    }
  }



  &.strange-link_solid {
    .strange-link__icon {
      background-image: url('img/Includes/Cards/StrangeLink/solid.png');
    }
  }
  &:hover {
    &.strange-link_solid {
      .strange-link__icon {
        background-image: url('img/Includes/Cards/StrangeLink/solid-active.png');
      }
    }
  }

  &.strange-link_soft {
    .strange-link__icon {
      background-image: url('img/Includes/Cards/StrangeLink/soft.png');
    }
  }
  &:hover {
    &.strange-link_soft {
      .strange-link__icon {
        background-image: url('img/Includes/Cards/StrangeLink/soft-active.png');
      }
    }
  }
  &.strange-link_special {
    .strange-link__icon {
      background-image: url('img/Includes/Cards/StrangeLink/special.png');
    }
  }
  &:hover {
    &.strange-link_special {
      .strange-link__icon {
        background-image: url('img/Includes/Cards/StrangeLink/special-active.png');
      }
    }
  }
}

//body {
//  color: red;
//}