.ask-question {
  $triangleHeight: 38px;
  
  display: block;
  position: relative;
  overflow: visible;
  background-color: $clrMain2;
  padding-left: $gap*2;
  padding-right: $gap*2;
  margin-bottom: $triangleHeight;
  padding-bottom: $gap;
  .ask-question__header {
    display: block;
    //padding-top: $gap*2;
    //padding-bottom: $gap*2;
    padding: $gap*2;
    margin-left: -$gap*2;
    margin-right: -$gap*2;
    border-bottom: 1px solid white;
  }
  .ask-question__icon {
    //outline: 1px solid darkred;
    width: 80px;
    height: 136px;
    margin: 0 auto;
    background-image: url('./Includes/ask-question/img/lamp.png');
    background-repeat:no-repeat;
    background-position: center;
    background-size: contain;
  }
  .ask-question__btn {
    margin-top: $gap*2;
  }
  &:after { //triangle
    //outline: 1px solid darkred;
    content: '';
    position: absolute;
    height: $triangleHeight;
    width: 100%;
    left: 0;
    top: 100%;
    background-image: url('./Includes/ask-question/img/triangle.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
  }
  
  @media (min-width: $screen-md) and (max-width: $screen-lg - 1) {
    padding-top: $gap*2;
    //outline: 3px solid darkred !important;
    display: flex;
    flex-flow: row nowrap;
    > * {
      //outline: 1px solid green;
    }
    .ask-question__header {
      flex: 0 1 40%;
      align-self: center;
      margin-top: 0;
      border-bottom: none;
    }
    .ask-question__icon {
      flex: 0 1 20%;
    }
    .ask-question__btn {
      flex: 0 1 40%;
      align-self: center;
      margin-top: 0;
    }
  }
}

