//<div class="ch-box ch-box--mod">
//  <input id="check-engines" type="checkbox" name="engines">
//  <label for="check-engines">Двигатели</label>
//</div>
.ch-box {
  $label-size: $gap*2;
  $border-width: 2px;

  cursor: pointer;
  &:hover {cursor: pointer;}

  //outline: 1px solid darkred;
  display: inline-block;
  input[type=checkbox] {
    display: none;
  }

  label {
    //outline: 1px solid blue;
    display: block;
    position: relative;
    padding-left: $label-size * 1.5;
    line-height: $label-size;
    user-select: none;
    cursor: pointer;
  }
  label:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: $label-size - $border-width;
    height: $label-size - $border-width;

    font-size: 16px;
    font-weight: bold;
    color: black;
    text-align: center;

    border-color: black;
    border-width: $border-width;
    border-style: solid;
  }

  input[type=checkbox]:checked + label:before {
    content: "\2713";
  }
}

.ch-box.disabled {
  label {
    cursor: default;
  }
  label:before {
    border-color: #b1b1b0;
  }
}
