.btn {
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: $borderRadius;

  display: inline-block;
  position: relative;
  padding: 10px 17px;
  margin-bottom: 0;
  font-size: 1em;
  font-weight: normal;
  line-height: 1.4;
  text-align: center;
  background-image: none;
  cursor: pointer;
  outline: none !important;

  &.btn_wide, //deprecated
  &.btn--wide {
    width: 100%;
  }
  &:disabled {
    opacity: 0.6;
  }
  &.btn--bold {
    font-weight: bold;
  }
  &.btn--uppercase {
    text-transform: uppercase;
  }

}
