{% extends 'Page.twig' %}

{% block css %}
    <link rel="stylesheet" href="/builds/index.css">
{% endblock %}

{% block content_main %}
    <a href="/managers.php">Ссылка на страницу с менеджерами</a><br>
    <a href="/knowledge-base.php">Ссылка на страницу "База Знаний"</a><br>
    <a href="/equipment.php">Ссылка на страницу "Каталога"</a><br>
    <a href="/equipment2.php">Ссылка на страницу "Каталога" 2 </a><br>
    <a href="/spares.php">Запчасти</a><br>
    <a href="/card.php">Карточка товара</a><br>

    {{ include('Includes/Index/Equipment.twig') }}
    {{ include('Includes/Index/EquipmentLab.twig') }}
    {{ include('Includes/Index/Periphery.twig') }}
    {{ include('Includes/Index/Spares.twig') }}
{% endblock %}

{% block js %}
    <script src="/builds/index.js"></script>
{% endblock %}
