{% extends 'Page.twig' %}

{% block css %}
    <link rel="stylesheet" href="/builds/knowledge-base.css">
{% endblock %}

{% block content_main %}
    {{ include('Includes/Knowledge-Base/Knowledge-Base.twig') }}
{% endblock %}

{% block js %}
    <script src="/builds/knowledge-base.js"></script>
{% endblock %}
