{% extends 'Page.twig' %}

{% block css %}
    <link rel="stylesheet" href="/builds/spares.css">
{% endblock %}

{% block content_main %}
    {{ include('Includes/tie-toggler.twig') }}
    <div class="page-spares jeContainer">
        <div class="tie-holder">
            {{ include('Includes/form-filter-spares.twig') }}
        </div>
        <div class="spares-content-holder">
            <p class="h2 page-header">ЗАПЧАСТИ</p>

            {{ include('Includes/table-spares.twig') }}

        </div>

    </div>

{% endblock %}

{% block js %}
    <script src="/builds/spares.js"></script>
{% endblock %}

